main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    border-radius: 6px;
    
    padding: 8px;

    width: 310px;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main article input {
    outline: none;
    border: none;
    border-bottom: 1px solid #333333;

    padding: 10px 20px 5px 0;
    width: 280px;

    font-size: 16px;
}

main article select {
    outline: none;
    border: none;

    padding: 10px;
    width: 220px;

    font-size: 16px;
}

main article h2 {
    font-size: 20px;
    word-break: break-all;
}

@media screen and (min-width: 425px) {
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background: #fff;
        border-radius: 6px;
        
        padding: 22px;
    
        width: 380px;
    }

    main article input {
        outline: none;
        border: none;
        border-bottom: 1px solid #333333;
    
        padding: 10px 20px 5px 0;
        width: 300px;
    
        font-size: 18px;
    }
}