/* main.html: */

body {
    padding: 100px 30px;
}

ul {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    row-gap: 30px;

    place-items: center;
}

ul li {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    
    width: 300px;

    padding: 10px 10px 15px 10px;

    background-color: #fff;

    border-radius: 10px;

    border: 0.5px solid #333333;
}

ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-color: #333333;

    z-index: -1;

    transition: .25s ease;
}

ul li:hover::after {
    transform: translate(-10px, -10px);
}

ul li a h2 {
    font-weight: 500;
    color: #333333;
}

ul li a p {
    font-weight: 400;
    color: #7e7e7e;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.online-detector-container {
    position: absolute;

    top: 2%;
    right: 3%;

    display: flex;
    align-items: center;
}

.online-detector {
    position: absolute;
    
    height: 35px;
    width: 35px;

    top: 2%;
    right: 3%;

    border-radius: 50%;

    transition: .2s ease;
}

.tooltip-online {
    position: absolute;
    top: 5px;
    left: -190px;

    background-color: #333333;
    border-radius: 10px 12px 12px 10px;
    
    color: #fff;

    padding: 5px 15px; 

    opacity: 0;

    transition: .3s ease;
}

.tooltip-online::after {
    content: '';
    position: absolute;
    bottom: 32%;
    right: -12px;

    width: 15px;
    height: 15px;

    background-color: #333333;
    
    transform: translate(-50%, -29%);
    border-radius: 0px 0px 0px 0px;
    rotate: -45deg;
}

@media screen and (min-width: 374px) {
    ul li {
        width: 350px;
    }
}

@media screen and (min-width: 424px) {
    ul li {
        width: 400px;
    }
}

@media screen and (min-width: 600px) {
    ul li {
        width: 420px;
    }
}

@media screen and (min-width: 780px) {
    body {
        padding: 70px 20px;
    }

    ul {
        column-gap: 45px;
        row-gap: 25px;

        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    ul li {
        width: 355px;
    }
}

@media screen and (min-width: 888px) {
    ul li {
        width: 400px;
    }
}

@media screen and (min-width: 990px) {
    ul li {
        width: 450px;
    }
}

@media screen and (min-width: 1090px) {
    ul li {
        width: 465px;
    }
}

@media screen and (min-width: 1164px) {
    body {
        padding: 75px 20px;
    }

    ul {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    ul li {
        width: 350px;
    }
}

@media screen and (min-width: 1250px) {
    ul {    
        column-gap: 25px;
        row-gap: 15px;

        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    ul li {
        width: 380px;
    }
}

@media screen and (min-width: 1376px) {
    body {
        padding: 100px 30px;
    }

    ul {
        column-gap: 35px;
        row-gap: 20px;

        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    ul li {
        width: 430px;
    }
}

@media screen and (min-width: 1484px) {
    ul {
        column-gap: 45px;
        row-gap: 25px;

        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    ul li {
        width: 460px;
    }
}