button {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    color: #fff;
    font-size: 1.2rem;

    padding: 10px 20px;

    border: 1px solid #333333;
    background-color: #333333;
    border-radius: 25px;

    cursor: pointer;
}

ul {
    position: absolute;
    top: 50%;
    left: 25%;

    transform: translate(-50%, -50%);
}

ul li {
    position: relative;
}

ul li::after {
    content: '';

    position: absolute;
    bottom: 35%;
    right: 0;

    transform: translate(80%, -50%);

    background-color: #333333;
    border-radius: 5px;

    height: 3px;
    width: 1000px;

    z-index: -1;
}

ul li img {
    width: 75px;
    height: 75px;

    animation-duration: 4.2s;
}

ul li:first-child img {
    animation-timing-function: linear;
}

ul li:nth-child(2) img {
    animation-timing-function: ease;
}

ul li:nth-child(3) img {
    animation-timing-function: ease-in;
}

ul li:nth-child(4) img {
    animation-timing-function: ease-out;
}

ul li:nth-child(5) img {
    animation-timing-function: ease-in-out;
}

ul li:nth-child(6) img {
    animation-timing-function: cubic-bezier(.2,.92,.7,.44);
}

@keyframes move {
    100% {
        transform: translateX(1000px);
    }
}