/* Weather */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    background-color: #fff;
    border-radius: 6px;

    width: 300px;
    padding: 20px 10px;
}

.search_bar {
    outline: none;
    border: none;
    border-bottom: 1px solid #333333;

    padding: 3px 6px;

    font-size: 17px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2px;
}

.weather-footer {
    display: flex;
    gap: 35px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.humidity,
.wind-speed {
    display: flex;
    align-items: center;

    gap: 5px;
}

.humidity article,
.wind-speed article {
    font-size: 15px;
}

.humidity img,
.wind-speed img {
    width: 35px;
    height: 35px;
}

@media screen and (min-width: 425px) {
    .content {
        width: 315px;
        padding: 30px 20px;
    }
}