main {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: #fff;
    border-radius: 8px;

    padding: 35px 25px;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first, .second {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#second_currency,
#first_currency {
    font-size: 16px;
}

.first select, 
.second select {
    outline: none;
    border: none;
}

.first input,
.second input {
    outline: none;
    border: none;

    width: 180px;

    border-bottom: 1px solid #333333;
    padding: 10px 0px 5px 0px;
    font-size: 16px;
}

#res {
    width: 180px;
    font-size: 16px;

    color: #333333;
}

@media screen and (min-width: 375px) {
    #second_currency,
    #first_currency {
        font-size: 17px;
    }

    #res {
        font-size: 17px;
    }

    .first input,
    .second input {
        font-size: 17px;
    }
}

@media screen and (min-width: 425px) {
    .first input,
    .second input {
        width: 220px;
    }

    #res {
        width: 220px;
    }
}

@media screen and (min-width: 768px) {
    main article {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .first input,
    .second input {
        width: 250px;
    }

    #res {
        width: 250px;
    }
}