main {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: #fff;
    border-radius: 8px;

    padding: 35px 25px;
}

main button {
    padding: 10px 25px;
    border-radius: 10px;

    background-color: #333333;
    color: #fff;
    font-size: 17px;

    transition: .25s ease;
    position: relative;

    cursor: pointer;
}

main button::after,
main button::before {
    content: '';
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    transition: .25s ease;

    z-index: -1;
}

main button::after {
    background-color: #33333370;
}

main button::before {
    background-color: #33333330;
}

main button:hover::after {
    transform: translateY(8px);
}

main button:hover::before {
    transform: translateY(14px);
}

main article {
    display: flex;
    gap: 20px;
}

.first, .second {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#second_currency,
#first_currency {
    font-size: 17px;
}

.first select, 
.second select {
    outline: none;
    border: none;
}

.first input,
.second input {
    outline: none;
    border: none;

    width: 250px;

    border-bottom: 1px solid #333333;
    padding: 10px 0px 5px 0px;
    font-size: 17px;
}

#res {
    width: 250px;
    font-size: 17px;

    color: #333333;
}